{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
<div id="buttons">
    {{=A('Back', _class='btn btn-warning', _href=URL('default', 'index'))}}
    {{if auth.is_logged_in():}}
    <input class="btn btn-primary" type="button" value="New Post" on-click="newpost"/>
    {{else:}}
    {{=A('Sign Up',  _class='btn btn-success', _href=URL('default','user', args=['register']))}}
    {{=A('Sign In',  _class='btn btn-success', _href=URL('default','user', args=['login']))}}
    {{pass}}
</div>

<hr>

<div class="post_list">
    {% #post_list:id %}
    {% #if user_id == {{=userid}} %}
        <div class="mypost">
        <div on-click="clickdelete" data-id="{% id %}" class="postedit" align=right>
        <i class="fa fa-times"></i>
        </div>
        {% #if editingname %}
            <textarea id="name{% post_id %}" data-id="{% id %}" on-blur="stopedit" value="{% post_name %}"></textarea>
        {% else %}
            <div on-click="starteditname" data-id="{% id %}">{% post_name %}</div>
        {% /if %}
        <hr>
        {% #if editingmsg %}
            <textarea id="msg{% post_id %}" data-id="{% id %}" on-blur="stopedit" value="{% post_message %}"></textarea>
        {% else %}
            <div on-click="starteditmsg" data-id="{% id %}">{% post_message %}</div>
        {% /if %}
        </div>
    {% else %}
        <div class="mypost">
        {% post_name %}
        <hr>
        {% post_message %}
        </div>
    {% /if %}
    {% /post_list %}
</div>

{% #if loading %}
    <div id="load_spinner">
        <i class="fa fa-spinner fa-pulse fa-4x"></i>
    </div>
{% /if %}
</script>

<script>
$(function() {

    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            post_list: {},
            active_draft: "",
            busy: false,
            loading: true
        }
    });

    periodic_load();

    // Called every 10s
    function periodic_load() {
        if (!MAIN.get('busy')) {
            // Loads the initial list of posts.
            $.ajax("{{=URL('default', 'load_posts', user_signature=True, args=board_id)}}",
                    {
                        method: 'POST',
                        success: function (data) {
                            var post_list = data['post_list'];
                            for (var id in post_list) {
                                post_list[id]['editingname'] = false;
                                post_list[id]['editingmsg'] = false;
                                post_list[id]['id'] = id;
                            }
                            MAIN.set('post_list', post_list);
                            MAIN.set('loading', false);
                        }
                    }
            );
        }
    }

    function add_post(post_id, post_name, post_message) {
        $.ajax("{{=URL('default', 'add_post', user_signature=True, args=board_id)}}",
              {
                  data: {
                      post_id: post_id,
                      post_name: post_name,
                      post_message: post_message
                  },
                  success: function () {
                      periodic_load();
                  }
              }
        );
    }

    function delete_post(post_id) {
        $.ajax("{{=URL('default', 'delete_post', user_signature=True)}}",
              {
                  data: {
                      post_id: post_id
                  },
                  success: function () {
                      periodic_load();
                  }
              }
        );
    }

    // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
    function generateUUID(){
        var d = new Date().getTime();
        if(window.performance && typeof window.performance.now === "function"){
            d += performance.now(); //use high-precision timer if available
        }
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = (d + Math.random()*16)%16 | 0;
            d = Math.floor(d/16);
            return (c=='x' ? r : (r&0x3|0x8)).toString(16);
        });
        return uuid;
    }

    // This code is called when the 'New Post' button is pressed.
    MAIN.on("newpost", function(e) {
        var editing = MAIN.get('busy');
        if (!editing) {
            var post_list = MAIN.get('post_list');
            var post_id = generateUUID();
            var empty_post = {post_id: post_id,
                              post_name: 'Post Name',
                              post_message: 'Post Message'};
            post_list.splice(0, 0, empty_post);
            MAIN.set('post_list', post_list);
            add_post(post_id, 'Post Name', 'Post Message');
        }
        return false;
    });

    MAIN.on("starteditname", function(e) {
        MAIN.set('busy', true);
        var post_list = MAIN.get('post_list');
        var key = $(e.node).data('id');
        post_list[key]['editingname'] = true;
        MAIN.set('post_list', post_list);
    });

    MAIN.on("starteditmsg", function(e) {
        MAIN.set('busy', true);
        var post_list = MAIN.get('post_list');
        var key = $(e.node).data('id');
        post_list[key]['editingmsg'] = true;
        $(e.node).focus();
        MAIN.set('post_list', post_list);
    });

    MAIN.on("stopedit", function(e) {
        MAIN.set('busy', false);
        var post_list = MAIN.get('post_list');
        var key = $(e.node).data('id');
        var post_id = post_list[key]['post_id'];
        post_list[key]['editingname'] = post_list[key]['editingmsg'] = false;
        var post_name = post_list[key]['post_name'];
        var post_message = post_list[key]['post_message'];
        if (post_name !== "" && post_message !== "") {
            add_post(post_id, post_name, post_message);
        }
        periodic_load();
    });

    MAIN.on("clickdelete", function(e) {
        var post_list = MAIN.get('post_list');
        var key = $(e.node).data('id');
        var post_id = post_list[key]['post_id'];
        post_list.splice(key, 1);
        MAIN.set('post_list', post_list)
        delete_post(post_id);
    });

    setInterval(periodic_load, 10000);
});
</script>
