{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{=A('Overview',  _class='btn btn-warning', _href=URL('default', 'index'))}}

{{if auth.is_logged_in():}}
    {{=A('New player',  _class='btn btn-success', _href=URL('default', 'newplayer', user_signature=True))}}
{{pass}}

<hr>

<h1 align="center">Players</h1>
<table align="center" width="1000" border="1">
    <tr>
        <td align="center">
            <h4>Player Name:</h4>
        </td>
        <td align="center">
            <h4>Position:</h4>
        </td>
        <td align="center">
            <h4>Total points:</h4>
        </td>
        <td align="center">
            <h4>Week points:</h4>
        </td>
        <td align="center">
            <h4>Yards:</h4>
        </td>
        <td align="center">
            <h4>Touchdowns:</h4>
        </td>
        <td align="center">
            <h4>Field Goals:</h4>
        </td>
        <td align="center">
            <h4>Interceptions:</h4>
        </td>
        <td align="center">
            <h4>Fumbles:</h4>
        </td>
    </tr>
    {{i = 0}}
    {{for p in player_list:}}
    <tr>
        <td align="center">
            <h4>{{=A(p.name, _href=URL('default', 'edit_stats', args=[p.id]))}}</h4>
        </td>
        <td align="center">
            <h4>{{=p.pos}}</h4>
        </td>
        <td align="center">
            <h4>{{=int(p.points) + points_list[i]}}</h4>
        </td>
        <td align="center">
            <h4>{{=points_list[i]}}</h4>
        </td>
        <td align="center">
            <h4>{{=p.yards}}</h4>
        </td>
        <td align="center">
            <h4>{{=p.touchdowns}}</h4>
        </td>
        <td align="center">
            <h4>{{=p.field_goals}}</h4>
        </td>
        <td align="center">
            <h4>{{=p.interceptions}}</h4>
        </td>
        <td align="center">
            <h4>{{=p.fumbles}}</h4>
        </td>
    </tr>
        {{i = i + 1}}
    {{pass}}
</table>